.copy{
    background-color: #242523;
        height: auto;
        width: 101.5%;
        margin-top: -1.1%;
}
.lxr{
    color: #fedb63;
}
.lxr:hover{
    color: white;
}
.bac{
    color: #242523;
}
.sen{
    color: rgb(124, 124, 124);
    margin-left: 11%;
    margin-top: 1%;
}

.bottom-infoaaea{
    color: #fedb63;
}
.bottom-infoaaea:hover{
    color: white;
}
